/* .mainMap {
    width: calc(100% - 40px);
    height: calc(100vh - 100%);
    min-height: calc(100vh - 100px);
    position: absolute;
    background-color: #ffffff;
    margin: 20px;
} */

header {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none; 
}

.mainMap {
    width: calc(100% - 40px);
    height: calc(100% - 100px);
    min-height: 800px;
    position: fixed;
    background-color: #ffffff;
    margin: 20px;
}

.mapLoading {
    z-index: 2 !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
}

.childMap {
    position: absolute !important;
    min-height: 800px;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mainChart {
    width: calc(100% - 40px);
    height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}

.chartInfo-container {
    flex: 1;
    height: 20vh;
    background-color: #f0f7ff;
    flex-grow: 1;
    min-width: 370px;
    user-select: none;
}

.chart1-container {
    flex: 1;
    height: 20vh;
    background-color: #f0f7ff;
    flex-grow: 2;
}

.chart2-container {
    flex: 1;
    height: 20vh;
    background-color: #f0f7ff;
    flex-grow: 2;
}

@media screen and (max-width: 800px) {
    .mainChart {
      flex-direction: column;
      height: 70vh;
    }
    .chartInfo-container {
        height: 150px;
    }
}

@media screen 
and (min-width: 801px)
and (max-width: 1150px) {
    .mainChart {
      height: 60vh;
    }
    .chartInfo-container {
        height: 20vh;
    }
    .mainMap {
        margin-top: 10px;
    }
}

@media screen 
and (min-width: 1151px)
and (max-width: 1820px) {
    /* .mainChart {
      height: 50vh;
    } */
    .chartInfo-container {
        height: 20vh;
    }    
    .chart1-container {
        width: 100%;
    }
    .chart2-container {
        width: 100%;
    }
}

@media screen 
and (min-width: 1821px) {
    .chartInfo-container {
        height: 20vh;
    }
    .chart1-container {
        width: 50vh;
    }
    .chart2-container {
        width: 50vh;
    }    
}

.genderAge-container {
    height: 70px;
    width: 500px;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    margin: 10px;    
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 2px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

.time-container {
    height: 100px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    margin: 10px;  
    right: 0px;  
    top: 100px;
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 2px;    
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;    
}

.fake-container {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
    height: 110px;
    width: 70px;  
    z-index: 3;
    right: 40px;  
    top: 0px;  
    position: absolute; 
}

.MuiFormControlLabel-root {
    margin: 1px !important;
}

.MuiTypography-body1 {
    font-size: 13px !important;
}

.MuiButtonBase-root {
    padding: 3px !important;
}

.beforeLegend {
    width: 70px;
    height: 200px;
    position: absolute;
    bottom: 10px;
    z-index: 3;
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 2px;
    margin: 10px;  
    padding-left: 10px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;  
}

.beforeTitle {
    width: 40px;
    height: 200px;
    position: absolute;
    top: 250px;
    z-index: 3;
    box-shadow: none !important;
    border: 1px solid #3b3a3a;
    background: #3b3a3a;
    border-radius: 2px;
    margin: 10px;  
    padding-left: 7px;   
    writing-mode: vertical-lr;
    font-size: 17px;
    color: white;
    text-align: center;
    vertical-align: middle;    
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;       
}

.afterLegend {
    width: 70px;
    height: 200px;
    position: absolute;
    bottom: 10px;
    z-index: 3;
    right: 0;
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    background: #fff;
    border-radius: 2px;
    margin: 10px;  
    padding-left: 10px;  
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;    
}

.afterTitle {
    width: 40px;
    height: 200px;
    position: absolute;
    top: 250px;
    z-index: 3;
    right: 0;
    box-shadow: none !important;
    border: 1px solid #3b3a3a;
    background: #3b3a3a;
    border-radius: 2px;
    margin: 10px;  
    padding-left: 7px;   
    writing-mode: vertical-lr;
    font-size: 17px;
    color: white;
    text-align: center;
    vertical-align: middle;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;           
}

.menuDateForm {
    display: flex;
    flex-grow: 1;    
}

/* .MuiInputBase-root {
    width: 50px;
}
*/

#datetime-local {
    padding: 16.5px 1px !important;
    margin: 0px !important;
    width: 50px !important
}

svg[data-testid="CalendarIcon"] {
    color: white;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    color: white !important;
    opacity: 1;
    filter: invert(100%);
  }
  
  input[type="datetime"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
  }

/* .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
} */

/* .MuiButtonBase-root.MuiIconButton-root {
    color: white;
} */

/* .ant-input-suffix {display: none;} */

svg[data-icon="calendar"] {
    color: white;
    width: 20px;
    height: 20px;
}

.ant-picker-input {
    width: 10px !important;
    margin-right: 12px !important;
    margin-left: -8px !important;
}

.ant-picker-clear {
    display: none;
}

.datepick-style {
    background: #3f51b5 !important;
    color: white !important;
    margin-left: 10px !important;
    cursor: pointer;
}

.legend-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;    
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .mapboxgl-ctrl-group {
    bottom: 4px !important;
    margin: 10px 10px 20px 30px !important;
} */

.mapboxgl-ctrl-top-right {
    top: 120px !important;
    z-index: 5 !important;
}

.mapbox-gl-draw_circle {
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="15" height="15">%3Cpath d="M7.5,0C11.6422,0,15,3.3578,15,7.5S11.6422,15,7.5,15 S0,11.6422,0,7.5S3.3578,0,7.5,0z M7.5,1.6666c-3.2217,0-5.8333,2.6117-5.8333,5.8334S4.2783,13.3334,7.5,13.3334 s5.8333-2.6117,5.8333-5.8334S10.7217,1.6666,7.5,1.6666z"/>%3C/svg>');
}

.mapboxgl-ctrl-geocoder {
    top: 100px;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

.mapboxgl-ctrl-geocoder--input {
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;    
}

.mapboxgl-popup {
    z-index: 2;
    max-width: 260px !important;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;     
}
.mapboxgl-popup-tip {
    display: none;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;     
}
.mapboxgl-popup-close-button {
    display: none;
}

.highcharts-loading {
    opacity: 1!important;
}
.highcharts-loading-inner {
    display: block;
}

.highcharts-loading-inner,
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
    background: #dfdfdf;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.highcharts-loading-inner {
    color: #dfdfdf;
    text-indent: -9999em;
    margin: 0 auto;
    top: 50%!important;
    position: relative;
    font-size: 11px;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
    position: absolute;
    top: 0;
    content: '';
}
.highcharts-loading-inner:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.highcharts-loading-inner:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
    box-shadow: 0 0;
    height: 4em;
    }
    40% {
    box-shadow: 0 -2em;
    height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
    box-shadow: 0 0;
    height: 4em;
    }
    40% {
    box-shadow: 0 -2em;
    height: 5em;
    }
}

/* -ms-user-select: none; 
-moz-user-select: 
-moz-none; 
-webkit-user-select: none; 
-khtml-user-select: none; 
user-select:none; */